<h1>Chats</h1>

<% @invites = Invite.where(sender: current_user.email, accepted: true) %>
<% unless @invites.empty? %>

<table>
	<thead>
		<tr>
			<th>Username</th>
			<!-- <th>Reciever</th>
				<th>Accepted</th> -->
				<th colspan="3"></th>
			</tr>
		</thead>

		<tbody id="dynamic">
			<% @invites.each do |invite| %>
			<tr>
				<!-- <td><%= invite.sender %></td> -->
				<td><%= invite.reciever %></td>
				<!-- <td><%= invite.accepted %></td> -->
				<td>
					<%= link_to 'Go to chat', "/chats/chat?target_email=#{invite.reciever}", class: "btn"%>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<% else %>
	<p>empty</p>
	<%end%>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			dynamic = document.getElementById("dynamic")
			setInterval(function() {
				console.log("~refresh")
           // dynamic.load('/invites');
           window.location.reload(false);
       }, 10000);
		})
	</script>