	<style>
		.border{
			padding: 16px;
			padding-left: 32px;
			padding-right: 32px;
			margin-top: 32px;
		}	
		h1 {
			padding-bottom: 16px; 
		}
	</style>


	<div class="row justify-content-center">
		<div class="column border rounded">

<h1><%= (I18n.t 'signup.registration') %></h1>

<%= render 'form', user: @user %>

<%= link_to 'Back', root_path %>

</div> 
</div>
