<style>
	.border {
		padding: 15px;
	}
	.msg {
		word-wrap: break-word;
		width: 300px;
		align-self: flex-end;

	}
	td {
		align-content: flex-end;
	}
	#msgFeed {
		border: 0px;
		width: 100%;
	}
	#dialog {
		height: 400px;
		overflow-y: scroll;
	}
</style>





<div class="row justify-content-center" id="dialogRow">
	<div class="col-8" >
		<!-- <h1 align="center">Chat</h1> -->

		<div id="dialog" class="border rounded">
			
		</div>
	</div>
</div>







<script>
	// ===========================================================
	function renderSideMsg(text){
		s = "<tr><td>" +
		"<h5><div class=\"border msg rounded\">" + text + "</div></h5>" + 
		"</td><td></td></tr>"
		return s
	}

	function renderUserMsg(text){
		s = "<tr><td></td><td>" +
		"<div class=\"border msg rounded\"><h5>" + text + "</h5></div>" + 
		"</td></tr>"
		return s
	}


	function getParameterByName(name, url = window.location.href) {
		name = name.replace(/[\[\]]/g, '\\$&');
		var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
		results = regex.exec(url);
		if (!results) return null;
		if (!results[2]) return '';
		return decodeURIComponent(results[2].replace(/\+/g, ' '));
	}
	var email = getParameterByName('target_email');
	console.log(email)




	handleAjaxSuccess = function (data, user) {
		console.log("ajax success")
		console.log(data.type)
		//[data, status, xhr] = event.detail;
		var result = document.getElementById("dialog");
	//document.write("~tick")
	msgBlock = ""
	data.forEach(function (item, i, arr) {
      	//result.innerHTML += item.sender
      	console.log("sender: " + item.sender)
      	if(item.sender == email){
      		msgBlock += renderSideMsg(item.text)
      	}else{
      		msgBlock += renderUserMsg(item.text)
      	}
      });
	result.innerHTML = "<table class=\"table-borderless\" id=\"msgFeed\">" + msgBlock + "</table>"
}


// document.addEventListener('DOMContentLoaded', function () {
// 	console.log("listener init")
// 	document.addEventListener(
// 		'ajax:success', handleAjaxSuccess)
// })

const request = new XMLHttpRequest();

setInterval(function() {

	console.log("try request")
	const url = "/chats/refresh.json?target_email=" + email;
	request.open('GET', url); 
	request.setRequestHeader('Content-Type', 'application/json');
	request.send();

}, 5000);

request.addEventListener("readystatechange", () => {
	console.log("state change");
	if (request.readyState === 4 && request.status === 200) {

      // выводим в консоль то что ответил сервер
      console.log("200/4 response");
      console.log(JSON.parse(request.responseText));
      data = JSON.parse(request.responseText);
      handleAjaxSuccess(data, email);

  }
});
	// if (data.type == "Array") {
	// 	s = "<table><tr><td>sequence</td><td>size</td></tr>"

	// 	let max = [];
	// 	data.value.forEach(function (item, i, arr) {
	// 		if (item.length > max.length) {
	// 			max = item
	// 		}
	// 		if (item.length > 0) {
	// 			s += "<tr><td>" + item + "</td><td>" + item.length + "</td></tr>";
	// 		}
	// 	});

	// 	s += "<tr><td>longest part</td><td>size</td></tr>"
	// 	s += "<tr><td>" + max + "</td><td>" + max.length + "</td></tr>"
	// } else {
	// 	s = data.value
	// 	switch (s[s.length-1].charCodeAt(0) - "0".charCodeAt(0)) {
	// 		case 1:
	// 			s = "nil input";
	// 			break;
	// 		case 2:
	// 			s = "incorrect input";
	// 			break;
	// 		case 3:
	// 			s = "no such sequences to output";
	// 			break;
	// 		default:
	// 			s = "unknown error "
	// 	}


	// }


	// result.innerHTML = "<hr/>(myScript) Result is: " + s +
	// 	"<p>" + "</p>";
</script>
