<style>
	h1{
		margin-top: 32px;
	}
</style>
<h1>Wait a second for redirection to invites list</h1>
<%= link_to("retry", invitelist_path, :class => "bg-transparent") %>
<p id="notice"><%= notice %></p>
