<style>
	.border{
		padding: 16px;
		padding-left: 32px;
		padding-right: 32px;
		margin-top: 32px;
	}	
	h1 {
		padding-bottom: 16px; 
	}
</style>


<div class="row justify-content-center">
	<div class="col-4 border rounded">

		<div align="center">
			<h1>Information</h1>
		</div>

		<p>My small app was made as semester project for course of RoR in BMSTU</p>
		<p>Repo: <a class="active bg-transparent" aria-current="page" href="https://github.com/Trickster2038/railsProj">github.com/Trickster2038/railsProj</a></p>

		<br/>
		<p>Your young web-developer and student,<br/>
		Astkhov Sergey ICS-6 Group 32</p>

	</div>
</div>